@import "../../../node_modules/bootstrap/scss/bootstrap";

.header__logo {
  width: 250px;
  top: 45px;
  left: 45px;
  position: absolute;
  z-index: 1;
}

.header__picture {
  width: 100%;
  height: 1050px;
  top: -175px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
