// ********** Import general **********
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Anton:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

// ********** Import page **********
@import "components/header.scss";
@import "components/headerSection.scss";
@import "components/select.scss";
@import "components/recipe.scss";

// ********** Variables **********
:root {
  --yellow: #ffd15b;
  --grey: #7a7a7a;
  --lightGrey: #c6c6c6;
}

// ********** General **********
main {
  margin: -280px auto 0 auto;
  max-width: 1440px;

  // ********** Mobile **********
  @media only screen and (max-width: 767px) and (min-width: 425px) {
    max-width: 425px;
  }

  // ********** Tablet **********
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    max-width: 768px;
  }

  // ********** Laptop S **********
  @media only screen and (max-width: 1439px) and (min-width: 1024px) {
    max-width: 1024px;
  }
}

body {
  background: #ededed;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// ********** Custom class **********

.mb-6 {
  margin-bottom: 4rem;
}

.mt-ms {
  margin-top: 2rem;
  margin-left: 4.7rem;

  // ********** Mobile **********
  @media only screen and (max-width: 767px) and (min-width: 425px) {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  // ********** Tablet **********
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    margin-left: 25%;
  }
}
