.header {
  &__picture {
    width: 100%;
    height: 1050px;
    top: -175px;
    object-fit: cover;
    position: relative;
    z-index: 0;
  }

  &__logo {
    width: 250px;
    top: 45px;
    left: 45px;
    position: absolute;
    z-index: 1;
  }

  &__title {
    color: var(--Yellow, #ffd15b);
    font-family: Anton;
    font-size: 44px;
    width: 730px;
    top: 300px;
    position: absolute;
  }

  &__input {
    top: 460px;
    position: absolute;
    z-index: 1;
    width: 954px;
    height: 72px;
    border-radius: 11px;
    background: #fff;
  }
}
