// ********** Recipe **********
.recipe {
  margin-bottom: 50px;
  width: 380px;
  height: 670px;
  top: 475px;
  left: 1025px;
  border-radius: 20px;
  background-color: white;

  // **** Recipe card ****
  &__card {
    color: black;
    position: relative;
    font-family: Manrope;

    // **** Recipe picture ****
    &__img {
      width: 380px;
      height: 253px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
    }

    // **** Recipe time ****
    &__time {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px 15px;
      border-radius: 14px;
      background: var(--yellow);
      font-size: 12px;
    }

    // **** Recipe info ****
    &__info {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 330px;

      // **** Recipe title ****
      &__title {
        font-family: Anton;
        font-size: 18px;
        width: 100%;
        margin: 30px 0;
      }

      // **** Recipe group step ****
      &__steps {
        // **** Recipe step text****
        &__text {
          font-size: 14px;
        }
      }

      // **** Recipe Subtitle ****
      &__subTitle {
        color: var(--grey);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.08px;
      }

      // **** Recipe group ingredients ****
      &__ingredients {
        width: 100%;

        // **** Recipe group ingredients name ****
        &__name {
          font-size: 14px;
          font-weight: 500;
        }

        // **** Recipe group ingredients quantity ****
        &__quantity {
          color: var(--grey);
          font-size: 14px;
        }
      }
    }
  }
}
