.recipe {
  margin-left: 50px; // REMOVE

  width: 380px;
  height: 670px;
  top: 475px;
  left: 1025px;
  border-radius: 20px;
  background-color: white;

  &__card {
    color: black;
    position: relative;

    &__img {
      width: 380px;
      height: 253px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      object-fit: cover;
    }

    &__time {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px 15px;
      border-radius: 14px;
      background: var(--Yellow, #ffd15b);
      font-family: Manrope;
      font-size: 12px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 330px;

      &__title {
        font-family: Anton;
        font-size: 18px;
        width: 100%;
        margin: 30px 0;
      }

      &__steps {
        &__text {
          font-family: Manrope;
          font-size: 14px;
        }
      }

      &__subTitle {
        color: var(--Grey, #7a7a7a);
        font-family: Manrope;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.08px;
      }

      &__ingredients {
        width: 100%;

        &__name {
          font-family: Manrope;
          font-size: 14px;
          font-weight: 500;
        }

        &__quantity {
          color: var(--Grey, #7a7a7a);
          font-family: Manrope;
          font-size: 14px;
        }
      }
    }
  }
}
