.recipe {
  &__card {
    width: 380px;
    height: 731px;
    top: 475px;
    left: 1025px;
    gap: 0px;
    border-radius: 21px 0px 0px 0px;
    background-color: white;

    &__img {
      width: 380px;
      height: 253px;
      gap: 0px;
      opacity: 0px;
    }

    &__time {
    }
  }
}
