// ********** Select **********
.selectSection {
  padding: 15px 70px;
  // **** Group select ****
  &__groupSelect {
    display: flex;
    gap: 65px;
    // **** Select style ****
    &__select {
      padding: 17px 16px;
      border-radius: 11px;
      font-family: Manrope;
      font-weight: 500;
      border: none;
      width: 195px;
      height: 56px;

      &__selectedItem {
        background-color: var(--yellow);
        width: 195px;
        height: 56px;
        padding: 17px 17px;
        border-radius: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        
        &__remove {
          background-color: var(--yellow);
          border: none;
        }
      }
    }
  }
  // **** Recipe number ****
  &__recipeNumber {
    font-family: Anton;
    font-size: 21px;
  }
}
