// ********** Select **********
.selectSection {
  padding: 15px 90px;

  // ********** Laptop S **********
  @media only screen and (max-width: 1439px) and (min-width: 1024px) {
    padding: 15px 95px;
  }

  // **** Group select ****
  &__group {
    display: flex;
    gap: 65px;
    margin-left: 10px;
    margin-right: auto;

    // ********** Mobile S **********
    @media only screen and (max-width: 374px) and (min-width: 320px) {
      margin-top: 50px;
      margin-left: -20px;
      display: block;
    }

    // ********** Mobile **********
    @media only screen and (max-width: 767px) and (min-width: 375px) {
      margin-top: 50px;
      display: block;
    }

    // ********** Tablet **********
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      gap: 15px;
      margin-top: 50px;
    }

    // ********** Laptop S **********
    @media only screen and (max-width: 1439px) and (min-width: 1024px) {
      gap: 15px;
    }

    &__displaySelect {
      display: none;
    }

    // **** Select style ****
    &__header {
      padding: 17px 16px;
      border-radius: 11px;
      font-family: Manrope;
      font-weight: 500;
      border: none;
      width: 195px;
      height: 56px;
      cursor: pointer;
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__container {
      position: relative;

      // ********** Mobile **********
      @media only screen and (max-width: 767px) and (min-width: 320px) {
        margin-top: 15px;
      }

      &__body {
        background: #fff;
        position: absolute;
        top: 48px;
        width: 195px;
        z-index: 10;
        border-bottom-left-radius: 11px;
        border-bottom-right-radius: 11px;

        input {
          width: 163px;
          height: 36px;
          margin: 10px 15px;
          border: 1px solid var(--lightGrey);
          padding-right: 55px;

          &__magnifyingGlass {
            position: absolute;
            color: var(--lightGrey);
            margin: 20px -40px;
          }
        }

        i.fa-sm {
          left: 130px;
          top: 27px;
          color: var(--grey);
          position: absolute;
          cursor: pointer;
        }

        i.fa-magnifying-glass {
          position: absolute;
          top: 20px;
          right: 30px;
          color: var(--grey);
          cursor: pointer;
        }

        &__optionsContainer {
          max-height: 315px;
          overflow-y: auto;
          scrollbar-width: none;

          li {
            padding: 8px;
            cursor: pointer;
          }
        }
      }
    }

    // **** Selected item style ****
    &__selectedOption {
      background-color: var(--yellow);
      position: relative;
      cursor: default !important;

      &:hover {
        font-weight: 600;

        .remove-option {
          display: inline;
        }
      }

      .remove-option {
        color: var(--yellow);
        display: none;
        position: absolute;
        right: 10px;
        top: 30%;
        cursor: pointer;
        background-color: black;
        background-size: 50%;
        border-radius: 50%;
        width: 19px;
        height: 19px;
        padding-left: 5px;
        padding-top: 9px;
        margin-right: 5px;
      }
    }

    &__selectedTag {
      background-color: var(--yellow);
      width: 195px;
      height: 56px;
      padding: 17px 17px;
      border-radius: 10px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      button {
        background-color: var(--yellow);
        border: none;
      }
    }
  }
  // **** Recipe number ****
  &__recipeNumber {
    font-family: Anton;
    font-size: 21px;
    margin-right: 15px;
    margin-left: auto;

    // ********** Mobile **********
    @media only screen and (max-width: 767px) and (min-width: 320px) {
      position: absolute;
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      position: absolute;
    }
  }
}

// ********** Tags Section **********
.tagsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin: 0 100px;

  // ********** Laptop S **********
  @media only screen and (max-width: 1439px) and (min-width: 1024px) {
    margin: 0 105px;
    gap: 5px 15px;
  }
}
