// ********** Select **********
.selectSection {
  padding: 15px 70px;
  // **** Group select ****
  &__groupSelect {
    display: flex;
    gap: 65px;
    // **** Select style ****
    &__selectHeader {
      padding: 17px 16px;
      border-radius: 11px;
      font-family: Manrope;
      font-weight: 500;
      border: none;
      width: 195px;
      height: 56px;
      cursor: pointer;
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__displayContainer {
        display: none;
      }

      &__selectContainer {
        position: relative;

        &__selectBody {
          background: #fff;
          position: absolute;
          z-index: 10;
          border-bottom-left-radius: 11px;
          border-bottom-right-radius: 11px;

          &__selectInput {
            width: 163px;
            height: 36px;
            margin: 0 15px;
            border: 1px solid var(--lightGrey);
          }

          &__selectOptionsContainer {
            max-height: 315px;
            overflow-y: auto;

            &__selectOption {
              padding: 8px;
              cursor: pointer;
            }

            &__selectedOption {
              background-color: var(--yellow);
            }
          }
        }
      }

      &__selectedItem {
        background-color: var(--yellow);
        width: 195px;
        height: 56px;
        padding: 17px 17px;
        border-radius: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        &__remove {
          background-color: var(--yellow);
          border: none;
        }
      }
    }
  }
  // **** Recipe number ****
  &__recipeNumber {
    font-family: Anton;
    font-size: 21px;
  }
}
